## Database
DATABASE_URL=mysql://root:root@localhost:3306/x

#PORT
PORT=8000

## Mail
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

# Sessions
SESSION_SECRET=super_secured
SESSION_MAX_AGE=86400000
SESSION_RESAVE=false
SESSION_SAVE_UNINITIALIZED=false

# Google
GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
GOOGLE_REDIRECT_URI=
FRONTEND_URI=